@(title: String)(content: Html)
    <div>
        Current Page:&#09;<i>@title</i>
        <hr>
        Menu:&#09;&#09;
        <a href="recommended">Recommended For You</a>
        &#09;&#09;|&#09;&#09;
        <a href="history">Rating History</a>
        &#09;&#09;|&#09;&#09;
        <a href="register_user">User Registration</a>
        &#09;&#09;|&#09;&#09;
        <a href="rate">Rate 10 Movies</a>
        &#09;&#09;|&#09;&#09;
        <a href="view">View Movies</a>
        &#09;&#09;|&#09;&#09;
        <a href="users">View Users</a>
        <hr>
        
        @content
        
    </div>
